<class_libraries>
    <library path="tuw_path_smoother">
        <class name="tuw_path_smoother/BSplineSmoother" type="BSplineSmoother" base_class_type="nav2_core::Smoother">
            <description>Basic smoothing using with a spline</description>
        </class>
    </library>
</class_libraries>